In [1]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

In [2]:
engine=create_engine("sqlite:///soundcloud.sqlite")
session=Session(engine)

In [3]:
# Use Pandas to perform the sql query
stmt = "select * from allTimePlayCount"
# stmt2 = db.session.query(weeklyPlayCount).statement
df = pd.read_sql_query(stmt, session.bind)

In [4]:
df.head()

                          Genre  allTimePlays
0                       Hip-Hop    1341400025
1                           R&B    1078842494
2                    Dance Hall     885886121
3  Electronic Dance Music (EDM)     885886121
4                    Electronic     717754470

In [5]:
# Use Pandas to perform the sql query
stmt = "select * from weeklyPlayCount"
# stmt2 = db.session.query(weeklyPlayCount).statement
df2 = pd.read_sql_query(stmt, session.bind)

In [6]:
df2.head()

     Genre  weeklyPlays
0  Hip-Hop     43903699
1      R&B      9492331
2      Pop      3758825
3    Latin      1861022
4  Country      1732593